@inherits LayoutComponentBase

<RadzenLayout>
    <RadzenHeader>
        <div class="d-flex align-items-center">
            <RadzenLabel Text="Header"/>
        </div>
    </RadzenHeader>
    <RadzenBody>
        <div class="p-2">
            @Body
        </div>
    </RadzenBody>
</RadzenLayout>
<RadzenNotification/>